.login-box {
  width: 520px;
  height: 720px;
  background: #000;
  color: #fff;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 30px;
  text-align: center;
  font-size: 60px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: normal;
  color: rgb(243, 240, 85);
  display: block;
}

.login-box .entradaFormulario {
  width: 100%;
  margin-bottom: 50px;
  font-weight: lighter;
}

.login-box .entradaFormulario, .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 50px;
  color: gray;
  font-size: 40px;
}

.login-box .botonSiguiente {
  border: none;
  outline: none;
  height: 50px;
  background: #b80f22;
  color: #fff;
  font-size: 45px;
  border-radius: 20px;
}

.login-box .botonSiguiente:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box button[type="submit"] {
  border: none;
  outline: none;
  width: 300px;
  height: 50px;
  background: #b80f22;
  color: #fff;
  font-size: 45px;
  border-radius: 20px;
}

.login-box button[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}


.login-box a {
  text-decoration: none;
  font-size: 30px;
  line-height: 45px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

.textoBlanco {
  color: #fff !important;
  background-color: red !important;
}


.textoBlanco {
  color: #fff !important;
  background-color: red !important;
}

.ocultar {
  display: none;
}
